<!<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <script src="./sass/main.scss"></script>
</head>

<body id="main">
    <div class="container">
        <section class="navbar wow fadeIn" data-wow-duration="1s">
            <div class="logo-box">
                <img src="./img/logo__icon.png" alt="logo" class="logo">
            </div>



            <ul class="list">
                <li class="list__item">
                    <a href="#main" class="list__link" data-scroll="main">
                        main
                    </a>
                </li>
                <li class="list__item">
                    <a href="#about" class="list__link" data-scroll="about">
                        skills
                    </a>
                </li>
                <li class="list__item">
                    <a href="#projects" class="list__link" data-scroll="projects">
                        projects
                    </a>
                </li>
                <li class="list__item">
                    <a href="#certificates" class="list__link" data-scroll="certificates">
                        certificates
                    </a>
                </li>
                <li class="list__item">
                    <a href="#team" class="list__link" data-scroll="team">
                        team
                    </a>
                </li>
                <li class="list__item">
                    <a href="#contact" class="list__link" data-scroll="contact">
                        contact
                    </a>
                </li>
            </ul>
        </section>


        <header>
            <section class="hero wow fadeIn" data-wow-duration="2s">
                <div class="hero__heading margin-bottom-u-s">
                    <h1 class="hero__heading--1">
                        i'm abdufattah khudari
                    </h1>

                    <h3 class="hero__heading--2">
                        i'm a full stack developer
                    </h3>
                </div>

                <a href="#home" class="btn btn__primary">
                    <span class="btn__text">see my work</span>
                    <img src="./img/arrow.png" alt="arrow" class="btn__arrow">
                </a>

                <!-- <a href="#" class="">
                    <img src="./img/hero__errow.png" alt="hero arrow" class="hero__arrow">
                </a>-->
            </section>
        </header>






        <main>
            <section class="about" id="about">
                <h1 class="headding-line margin-bottom-u-vg wow zoomIn" data-wow-duration="1s" data-wow-offset="200">
                    about
                </h1>

                <div class="about__units margin-bottom-u-vg">
                    <div class="about__element wow bounceInLeft" data-wow-duration="1s" data-wow-offset="250">
                        <div class="about__box-icon about__box-icon--1 margin-bottom-u-s">
                            <img src="./img/About-cion--1.png" alt="" class="about__icon about__icon--1">
                        </div>
                        <h2 class="heading-2 margin-bottom-u-vs">
                            Fast
                        </h2>
                        <p class="about__paragraph">
                            Fast load times and lag free interaction, my highest priority.
                        </p>
                    </div>

                    <div class="about__element  wow bounceInLeft" data-wow-duration="1s" data-wow-offset="300">
                        <div class="about__box-icon about__box-icon--1 margin-bottom-u-s">
                            <img src="./img/About__icon-2.png" alt="" class="about__icon about__icon--4">
                        </div>
                        <h2 class="heading-2 margin-bottom-u-vs">
                            Responsive
                        </h2>
                        <p class="about__paragraph">
                            My layouts will work on any device, big or small.
                        </p>
                    </div>

                    <div class="about__element wow bounceInRight" data-wow-duration="1s" data-wow-offset="300">
                        <div class="about__box-icon about__box-icon--1 margin-bottom-u-s">
                            <img src="./img/About__icon-3.png" alt="" class="about__icon about__icon--3">
                        </div>
                        <h2 class="heading-2 margin-bottom-u-vs">
                            Intuitive
                        </h2>
                        <p class="about__paragraph">
                            Strong preference for easy to use, intuitive UX/UI.
                        </p>
                    </div>

                    <div class="about__element wow bounceInRight" data-wow-duration="1s" data-wow-offset="300">
                        <div class="about__box-icon about__box-icon--1 margin-bottom-u-s">
                            <img src="./img/About__icon-4.png" alt="" class="about__icon about__icon--4">
                        </div>
                        <h2 class="heading-2 margin-bottom-u-vs">
                            Dynamic
                        </h2>
                        <p class="about__paragraph ">
                            Websites don't have to be static, I love making pages come to life.
                        </p>
                    </div>
                </div>

                <div class="skills margin-bottom-u-vg">
                    <div class="skills__info wow bounceInLeft" data-wow-duration="1s" data-wow-offset="350">
                        <div class="about__box-icon about__box-icon--2 margin-bottom-u-s">
                            <img src="./img/personal__photp.png" alt="" class="about__icon about__icon--5">
                        </div>
                        <p class="paragraph">
                            i’m abdulfattah khudari i’m studying softwear engineering at Damascus university (fifth year) I have serious passion for
                            UI effects, animations and creating intuitive, dynamic user experiences. and also i like problem
                            solving and programing. i prefer to follow agile method it gives us the ability to finish our
                            work before the deadline and also it gives us a lot of flexibility. i like working with team
                            and i’m kind of a people person and a team player. i use git and github and heroku to deploy
                            my projects. i have a good communication skills,good at public speaking you can say that i’m
                            a bilingual person my mother’s language is arabic and i speak English very well . i have a lot
                            of aims, i would like to achieve them as soon as possible some of them are graduating from my
                            university and becoming very good at web development
                        </p>
                    </div>

                    <div class="skills__tools wow bounceInRight" data-wow-duration="1s" data-wow-offset="350">
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                photoshop
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--20">
                                80%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                HTML
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--20">
                                80%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                CSS
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--30">
                                70%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                BOOTSTRAP
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--30">
                                80%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                JAVASCRIPT
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--40">
                                60%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                JQUERY
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--40">
                                60%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                ANGULAR 5
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--50">
                                50%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                NODE.JS
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--50">
                                50%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                MONOGODB
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--50">
                                50%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                SQL
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--50">
                                50%
                            </div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar__name">
                                MIC.OFFICE
                            </div>
                            <div class="progress-bar__persent progress-bar__persent--20">
                                80%
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#home" class="btn btn__primary">
                    <span class="btn__text">know more</span>
                    <img src="./img/arrow.png" alt="arrow" class="btn__arrow">
                </a>
            </section>



            <section class="projects" id="projects">
                <h1 class="headding-line margin-bottom-u-b wow zoomIn" data-wow-duration="1s" data-wow-offset="300">
                    projects
                </h1>

                <nav class="nav-tab margin-bottom-u-b  wow fadeIn" data-wow-duration="1s" data-wow-offset="320">
                    <div class="list">
                        <div class="list__item" data-type="All">
                            <a href="#" class="list__link">
                                ALL
                            </a>
                        </div>

                        <div class="list__item" data-type="photoshop">
                            <a href="#" class="list__link">
                                photoshop
                            </a>
                        </div>

                        <div class="list__item" data-type="template">
                            <a href="#" class="list__link">
                                templates
                            </a>
                        </div>

                        <div class="list__item" data-type="meanStack">
                            <a href="#" class="list__link">
                                MEAN STACK
                            </a>
                        </div>
                        <div class="list__item" data-type="other">
                            <a href="#" class="list__link ">
                                other
                            </a>
                        </div>
                    </div>
                </nav>



                <!--dynamic-->
                <div class="grid margin-bottom-u-vg wow zoomIn" data-wow-duration="1s" data-wow-offset="370">
                </div>
                <div class="buttons">
                </div>

            </section>








            <section class="certificates" id="certificates">
                <h1 class="headding-line margin-bottom-u-b wow zoomIn" data-wow-duration="1s" data-wow-offset="400">
                    certificates
                </h1>
                <nav class="nav-tab margin-bottom-u-b  wow fadeIn" data-wow-duration="1s" data-wow-offset="410">
                    <div class="list">
                        <div class="list__item" data-type="All">
                            <a href="#" class="list__link">
                                ALL
                            </a>
                        </div>

                        <div class="list__item" data-type="studying">
                            <a href="#" class="list__link">
                                studying
                            </a>
                        </div>

                        <div class="list__item" data-type="languages">
                            <a href="#" class="list__link">
                                languages
                            </a>
                        </div>

                        <div class="list__item" data-type="religion">
                            <a href="#" class="list__link">
                                religion
                            </a>
                        </div>
                        <div class="list__item" data-type="other">
                            <a href="#" class="list__link">
                                other
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="box wow zoomIn" data-wow-duration="1s" data-wow-offset="410">
                    <!--dynamic-->
                </div>
                <div class="buttons">
                </div>
            </section>




            <section class="team" id="team">
                <h1 class="headding-line margin-bottom-u-b wow zoomIn" data-wow-duration="1s" data-wow-offset="300">
                    team
                </h1>
                <div class="team__paragraph margin-bottom-u-vg wow zoomIn" data-wow-duration="1s" data-wow-offset="300">
                    <p class="paragraph">
                        these are some of the people that i have worked with since i started studying ITE,some of them are still working with me
                        meanwhile the other must be hitting another rode but i really want to thank them all for all the
                        help and the support that they have been giving me for a long time
                    </p>
                </div>
                <div class="p-row">
                    <!--first-->
                    <div class="p-row__item wow bounceInLeft" data-wow-duration="1s" data-wow-offset="300">
                        <div class="p-row__box-photo p-row__box-photo--1 margin-bottom-u-vs">
                            <img src="./img/team1.png" class="team__photo team__photo--1" alt="photo1">
                            <img src="./img/corner1.png" class="team__corner1" alt="corner1">
                        </div>
                        <span class="team__member-name team__member-name--1 ">abdulnasier alkhatib</span>
                        <span class="team__member-job team__member-job--1">graphic designer</span>
                    </div>

                    <!--second-->
                    <div class="p-row__item wow bounceInLeft" data-wow-duration="1s" data-wow-offset="300">
                        <div class="p-row__box-photo p-row__box-photo--2 margin-bottom-u-vs">
                            <img src="./img/team2.png" class="team__photo team__photo--2" alt="photo1">
                            <img src="./img/corner2.png" class="team__corner2" alt="corner2">
                        </div>
                        <span class="team__member-name team__member-name--2 ">salim dawod</span>
                        <span class="team__member-job team__member-job--2">graphic designer</span>
                    </div>

                    <!--first-->
                    <div class="p-row__item wow bounceInRight" data-wow-duration="1s" data-wow-offset="300">
                        <div class="p-row__box-photo p-row__box-photo--1 margin-bottom-u-vs">
                            <img src="./img/team3.png" class="team__photo team__photo--1" alt="photo1">
                            <img src="./img/corner1.png" class="team__corner3" alt="corner3">
                        </div>
                        <span class="team__member-name team__member-name--1 ">abdulrahman alhusin</span>
                        <span class="team__member-job team__member-job--1">graphic designer</span>
                    </div>
                    <!--second-->
                    <div class="p-row__item wow bounceInRight" data-wow-duration="1s" data-wow-offset="300">
                        <div class="p-row__box-photo p-row__box-photo--2 margin-bottom-u-vs">
                            <img src="./img/team4.png" class="team__photo team__photo--2" alt="photo1">
                            <img src="./img/corner2.png" class="team__corner4" alt="corner4">
                        </div>
                        <span class="team__member-name team__member-name--2 ">ayed alnator</span>
                        <span class="team__member-job team__member-job--2">graphic designer</span>
                    </div>
                </div>
            </section>

            <section class="contact wow zoomIn" data-wow-duration="1s" data-wow-offset="440" id="contact">
                <h1 class="headding-line margin-bottom-u-s">
                    contact
                </h1>

                <h2 class="heading-3 margin-bottom-u-b">
                    FEEL FREE TO ASK ME WHATEVER YOUWANT
                </h2>

                <form action="#" class="form ">
                    <input type="text" class="form__input margin-bottom-u-s" id="user" placeholder="user name">
                    <input type="email" class="form__input margin-bottom-u-s" id="email" placeholder="your email">
                    <textarea name="message" class="form__text-area margin-bottom-u-b" placeholder="write something" id="message" cols="30" rows="10"></textarea>

                    <a href="#" class="btn btn__secondary">
                        submit
                    </a>
                </form>
            </section>
        </main>


        <footer class="footer-section">
            <div class="footer">
                <div class="footer__social-media ">
                    <a href="https://www.facebook.com/abd.alftah.583" target="_blank">
                        <img src="./img/footer__icon-1.png" alt="instgram" class="social-media__icon">
                    </a>
                    <a href="#">
                        <img src="./img/footer__icon-2.png" alt="facebook" class="social-media__icon">
                    </a>
                    <a href="#">
                        <img src="./img/footer__icon-3.png" alt="twitter" class="social-media__icon">
                    </a>
                    <a href="#">
                        <img src="./img/footer__icon-4.png" alt="whatsup" class="social-media__icon">
                    </a>
                </div>
                <div class="footer__email">
                    <span class="heading-3">
                        abdulfattah.khudari@gmail.com
                    </span>
                </div>

                <div class="footer__number">
                    <span class="heading-3">
                        0952432706
                    </span>
                </div>
            </div>
        </footer>


        <input type="checkbox" id="click">
        <label for="click" class="menu__btn">
            <span class="menu__icon">&nbsp;</span>
        </label>

        <section class="menu-section">
            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a href="#main" class="menu-list__link" data-scroll="main">
                            main
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#about" class="menu-list__link" data-scroll="about">
                            skills
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#projects" class="menu-list__link" data-scroll="projects">
                            projects
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#certificates" class="menu-list__link" data-scroll="certificates">
                            certificates
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#team" class="menu-list__link" data-scroll="team">
                            team
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#contact" class="menu-list__link" data-scroll="contact">
                            contact
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>




</body>


<script src="./node_modules/jquery/dist/jquery.js"></script>
<script src="css/WOW-master/dist/wow.js"></script>
<script src="./js/jquery.js"></script>
<script>
    new WOW().init();
</script>


</html>