<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

  <link rel="stylesheet" href="css/hover.css">
  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="stylesheet" href="css/style.css">
  <title>Bootstrap Theme</title>
</head>


<body data-spy="scroll" data-target="#main-nav" id="home">

  <!--Header-->
  <section id="header" class="d-flex align-items-center wow fadeInDown" data-wow-duration="1s" data-wow-offset="0">
    <div class="container text-center">
      <div class="row  text-center align-items-center">
        <div class="col-md-6 col-lg-4 mb-resp mt-resp">
          <a href="#" class="hvr-grow">
            <img src="./img/facebook-logo.png" class="mr-10" alt="">
          </a>
          <a href="#" class="hvr-grow">
            <img src="./img/instagram-logo.png" class="mr-10" alt="">
          </a>
          <a href="#" class="hvr-grow">
            <img src="./img/twitter-logo.png" class="mr-10" alt="">
          </a>
          <a href="#" class="hvr-grow">
            <img src="./img/whatsup-logo.png" class="mr-10" alt="">
          </a>
        </div>
        <div class="col-md-4 d-none d-lg-block">
          <h1 class="section-header-text text-white hvr-shadow">Outszourcemylt</h1>
          <h1 class="new_jersy_IT_Support_Company text-white hvr-shadow">new jersy IT Support Company</h1>
        </div>
        <div class="col-md-6 col-lg-4">
          <h1 class=" phone-number hvr-shadow">0952432706</h1>
        </div>
      </div>
      <svg xmlns=" http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="img-fluid" width="550px" height="1px">
        <path fill-rule="evenodd" opacity="0.2" fill="rgb(255, 255, 255)" d="M-0.000,1.000 L-0.000,-0.000 L671.000,-0.000 L671.000,1.000 L-0.000,1.000 Z"
        />
      </svg>
    </div>
  </section>



  <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top wow fadeInDown" data-wow-duration="1s" data-wow-offset="0"
    id="main-nav">
    <a href="#" class="navbar-toggler m-auto" data-toggle="collapse" data-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </a>

    <div class="navbar-collapse collapse" id="navMenu">
      <ul class="navbar-nav m-auto">
        <li class="nav-item ">
          <a href="#hero" class="nav-link hvr-underline-reveal">
            Home
          </a>
        </li>
        <li class="nav-item ">
          <a href="#service" class="nav-link hvr-underline-reveal">
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a href="#sectionTest" class="nav-link hvr-underline-reveal">
            How wecan help?
          </a>
        </li>
        <li class="nav-item">
          <a href="#Book" class="nav-link hvr-underline-reveal">
            Media
          </a>
        </li>
        <li class="nav-item">
          <a href="#myfooter" class="nav-link hvr-underline-reveal">
            Contact Us
          </a>
        </li>

      </ul>
    </div>
  </nav>


  <!--hero-->
  <section id="hero" class="wow fadeIn" data-wow-duration="1s" data-wow-offset="0" data-wow-delay="1s">
    <div class="dark-overlay">
      <div class="container ">
        <div class="row text-center Pt-40">
          <div class="col">
            <h1 class="hero-text display-4 mb-0 d-none d-md-block">OUTMESART,OUTPERFORM,OUTLIST</h1>
            <h1 class="section-header-text text-white text-uppercase">Outszourcemylt</h1>
            <a href="#">
              <button class="btn btn-primary ">
                GET STARTED
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--services-->
  <section id="service" class=" Py-40 text-center wow fadeIn" data-wow-duration="1s" data-wow-offset="380">
    <div class="container">
      <h1 class="section-header-text m-0 hvr-float-shadow">100% US-BASED IT SERVICES & SUPPORT</h1>
      <div class="row Mt-40">
        <div class=" col-md-6 col-lg-3">
          <img src="./img/data-center.png " class="mb-resp" alt="">
          <h3 class="Text hvr-float-shadow">managed it services</h3>
        </div>

        <div class="col-md-6 col-lg-3">
          <img src="./img/cloud-computing.png" class="mb-resp" alt="">
          <h3 class="Text hvr-float-shadow">new jurcy cloud computation
          </h3>
        </div>

        <div class="col-md-6 col-lg-3">
          <img src="./img/security.png" class="mb-resp" alt="">
          <h3 class="Text hvr-float-shadow">protect your business</h3>
        </div>

        <div class="col-md-6 col-lg-3">
          <img src="./img/email.png" class="mb-resp" alt="">
          <h3 class="Text hvr-float-shadow">managed email soluation
          </h3>
        </div>
      </div>
    </div>
  </section>

  <div id="sectionTest" class="Py-40 bg-light wow fadeIn" data-wow-duration="1s" data-wow-offset="410">
    <div class="container">
      <h1 class="section-header-text hvr-float-shadow">Clinet Testimtonials</h1>
      <div class="row justify-content-center My-40">
        <div class="col-md-8 single-item">
          <div>
            <svg class="float-left mr-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="31px">
              <text kerning="auto" font-family="Dosis" fill="rgb(0, 0, 0)" transform="matrix( -0.99999732618809, 0.00231249144308, -0.00231249144308, -0.99999732618809,43.0398187480791, 13.4513401214499)"
                font-size="130px">
                <tspan font-size="130px" font-family="Dosis" font-weight="bold" fill="#0B589E">&#44;&#44;</tspan>
              </text>
            </svg>
            <div class="">
              <h1 class="Text">Lorem ipsum dolor sit amet.</h1>
              <p class="text-muted normal-text text-justify mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati possimus libero, tenetur reiciendis quas
                nam animi minus atque nesciunt illo voluptatem itaque iusto laboriosam vero beatae ipsum odit a adipisci.
                <span class="text-danger text-uppercase">download it from github</span>
              </p>
            </div>
          </div>
          <div>
            <svg class="float-left mr-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="31px">
              <text kerning="auto" font-family="Dosis" fill="rgb(0, 0, 0)" transform="matrix( -0.99999732618809, 0.00231249144308, -0.00231249144308, -0.99999732618809,43.0398187480791, 13.4513401214499)"
                font-size="130px">
                <tspan font-size="130px" font-family="Dosis" font-weight="bold" fill="#0B589E">&#44;&#44;</tspan>
              </text>
            </svg>
            <div class="">
              <h1 class="Text">Lorem ipsum dolor sit amet.</h1>
              <p class="text-muted normal-text text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati possimus libero, tenetur reiciendis quas
                nam animi minus atque nesciunt illo voluptatem itaque iusto laboriosam vero beatae ipsum odit a adipisci.
                <span class="text-danger text-uppercase">download it from github</span>
              </p>
            </div>
          </div>
          <div>
            <svg class="float-left mr-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="31px">
              <text kerning="auto" font-family="Dosis" fill="rgb(0, 0, 0)" transform="matrix( -0.99999732618809, 0.00231249144308, -0.00231249144308, -0.99999732618809,43.0398187480791, 13.4513401214499)"
                font-size="130px">
                <tspan font-size="130px" font-family="Dosis" font-weight="bold" fill="#0B589E">&#44;&#44;</tspan>
              </text>
            </svg>
            <div class="">
              <h1 class="Text">Lorem ipsum dolor sit amet.</h1>
              <p class="text-muted normal-text text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati possimus libero, tenetur reiciendis quas
                nam animi minus atque nesciunt illo voluptatem itaque iusto laboriosam vero beatae ipsum odit a adipisci.
                <span class="text-danger text-uppercase">download it from github</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="Book" class="wow fadeIn" data-wow-duration="1s" data-wow-offset="450">
    <div class="dark-overlay">
      <div class="container">
        <div class="row Py-40 align-items-center">
          <div class="col-md-8 d-none d-md-block align-self-center">
            <h1 class="text-white Text hvr-shadow-radial">Book Your Free 2-Hour IT Review
              <span class="text-danger text-uppercase">IT Review</span>
            </h1>
            <p class="text-white normal-text hvr-shadow-radial">
              Tired Of Your Old IT CompanyGiving You The Run Around Experience Outsource My IT
            </p>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body text-center">
                <h1 class="singin-text">Get started</h1>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="name">
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="confitm Password">
                </div>
                <a href="#">
                  <button class="btn btn-primary ">
                    GET STARTED
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="Latest" class="Py-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="450">
    <div class="container text-center">
      <h1 class="section-header-text hvr-float-shadow">Latest News from Our Blog</h1>
      <div class="row Py-20">

        <div class="col-md-6 hvr-glow">
          <div class="float-left mr-2">
            <p class="p-0 m-0 _18">18</p>
            <p class="p-0 m-0 SEP">SEP</p>
          </div>
          <p class="text-justify ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores provident libero quis temporibus in quam itaque
            repellendus aperiam Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, accusantium! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Corrupti voluptatum, officia incidunt repellat optio voluptatem consequuntur
            a
            <a href="#">
              <span class="d-block project-primary text-uppercase font-weight-bold">see more ....</span>
            </a>
          </p>
        </div>
        <div class="col-md-6 hvr-glow">
          <div class="float-left mr-2">
            <p class="p-0 m-0 _18">17</p>
            <p class="p-0 m-0 SEP">DEC</p>
          </div>
          <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores provident libero quis temporibus in quam itaque
            repellendus aperiam Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, accusantium! Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Ad voluptate eum labore commodi velit architecto officia suscipit
            neque qui doloremque.
            <a href="#">
              <span class="d-block project-primary text-uppercase font-weight-bold">see more ....</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>


  <section id="subscribe" class="Py-20 wow fadeIn" data-wow-duration="1s" data-wow-offset="410">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 ">
          <h1 class="Text text-white">Subscribe to our newsletter </h1>
          <p class="normal-text text-white">Stay up to date with the latest news and feathure </p>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="form-inline justify-content-center">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="enter your email">
            </div>
            <a href="#" class="ml-2">
              <button class="btn btn-primary btn-block text-uppercase">submit</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="footer" class="Py-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="420">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 d-none d-md-block">
          <img src="./img/maps-and-flags.png" class="img-fluid">
        </div>
        <div class="col-md-4 text-white text-center">
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">Outsource My It</li>
            <li class="list-group-item">0952432706</li>
            <li class="list-group-item">abdulfattah.khudari@gmail.com</li>
            <li class="list-group-item">Keep connected</li>
            <div class="d-flex  justify-content-center ml-3 mt-2">
              <a href="#" class="hvr-grow">
                <img src="./img/facebook.png" class="mr-2" alt="">
              </a>
              <a href="#" class="hvr-grow">
                <img src="./img/google-plus.png" class="mr-2" alt="">
              </a>
              <a href="#" class="hvr-grow">
                <img src="./img/instagram.png" class="mr-2" alt="">
              </a>
              <a href="#" class="hvr-grow">
                <img src="./img/linkedin.png" alt="">
              </a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="myfooter" class="py-1">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <p>Created by
            <span class="text-danger text-uppercase font-weight-bold ">Abdulfattah khudari</span>
          </p>
        </div>
      </div>
    </div>
  </section>


  <script src=" http://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin=" anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>




  <script>
    $('.single-item').slick({
      dots: true,
      autoplay: true
    });
  </script>

  <script src="css/WOW-master/dist/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>
</body>

</html>