<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

  <link rel="stylesheet" href="css2/hover.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="stylesheet" href="css2/animate.css">
  <link rel="stylesheet" href="css2/style.css">
  <title>project 3</title>
</head>


<body data-spy="scroll" data-target="#main-navbar" id="home">


  <section id="Nav" class="wow fadeIn" data-wow-duration="0" data-wow-delay="0.5s">
    <nav class="navbar navbar-expand-md navbar-dark bg-light " id="main-navbar">

      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="./img2/logo.png">
        </a>

        <a href="#" class="navbar-toggler" data-target="#nav-menu" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="navbar-collapse collapse" id="nav-menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#home" class="nav-link">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a href="#learn" class="nav-link">
                Platform
              </a>
            </li>
            <li class="nav-item">
              <a href="#Test" class="nav-link">
                Pricing
              </a>
            </li>
            <li class="nav-item">
              <a href="#Education" class="nav-link">
                About
              </a>
            </li>
          </ul>
          <a href="#footer" class="btn btn-outline-light">
            Contact
          </a>
        </div>
      </div>
    </nav>
  </section>

  <section id="hero" class="wow fadeIn" data-wow-duration="0" data-wow-delay="0.5s">
    <div class="container Py-40 text-white text-center">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1 class="hero-text1 Mb-20 d-none d-lg-block">Securely sell ebooks your way</h1>
          <p class="hero-text2 font-weight-bold Mb-40">Trusted by businesses, relied on by authors</p>
          <p class="hero-text3 d-none d-lg-block">We know how important it is to keep your eBooks safe. That is why we offer Social DRM and Adobe DRM protection
            options. All you have to do is choose which scheme works best for you. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Culpa, eos.</p>

          <a href="#" class="btn btn-outline-light Mr-10">
            see priceing
          </a>

          <a href="#" class="btn btn-danger">
            START TRAIL
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="learn" class="Py-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="380">
    <div class="container text-center">
      <h1 class="H1 font-weight-bold">Learn How EditionGuard Fits Your Needs</h1>
      <p class="H3">Protect your ebooks wihtout spending a fortune on complicated software</p>
      <div class="row">
        <div class="col-sm-2 col-md-4 col-lg-3">
          <img src="./img2/learn1.png" class="Pb-10" alt="">
          <p class="H3 font-weight-bold p-0 m-0 Pt-10 Pb-10">Online Piracy Protection</p>
          <p class="H4 paragraph-height p-0 m-0">EditionGuard protects your eBooks with Social DRM or Adobe DRM so you don’t have to worry about piracy.</p>
          <a href="#">
            <p class="text-color1 H4 textr-uppercase font-weight-bold">learn more</p>
          </a>
        </div>

        <div class="col-sm-2 col-md-4 col-lg-3">
          <img src="./img2/learn2.png" class="Pb-10" alt="">
          <p class="H3 font-weight-bold p-0 m-0 Pt-10 Pb-10">Online Piracy Protection</p>
          <p class="H4 paragraph-height p-0 m-0">EditionGuard protects your eBooks with Social DRM or Adobe DRM so you don’t have to worry about piracy.</p>
          <a href="#">
            <p class="text-color1 H4 textr-uppercase font-weight-bold">learn more</p>
          </a>
        </div>

        <div class="col-sm-2 col-md-4 col-lg-3">
          <img src="./img2/learn3.png" class="Pb-10" alt="">
          <p class="H3 font-weight-bold p-0 m-0 Pt-10 Pb-10">Online Piracy Protection</p>
          <p class="H4 paragraph-height p-0 m-0">EditionGuard protects your eBooks with Social DRM or Adobe DRM so you don’t have to worry about piracy.</p>
          <a href="#">
            <p class="text-color1 H4 textr-uppercase font-weight-bold">learn more</p>
          </a>
        </div>

        <div class="col-sm-2 col-md-4 col-lg-3">
          <img src="./img2/learn4.png" class="Pb-10" alt="">
          <p class="H3 font-weight-bold p-0 m-0 Pt-10 Pb-10">Online Piracy Protection</p>
          <p class="H4 paragraph-height p-0 m-0">EditionGuard protects your eBooks with Social DRM or Adobe DRM so you don’t have to worry about piracy.</p>
          <a href="#">
            <p class="text-color1 H4 textr-uppercase font-weight-bold">learn more</p>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section id="Schedule" class="Py-40  wow fadeIn" data-wow-duration="1s" data-wow-offset="340">
    <div class="container text-center text-white">
      <div class="row">
        <div class="col-md-10">
          <h1 class="H2">Schedule a
            <span class="text-color2"> 1-on-1</span> demo with one of our product specialists</h1>
        </div>
        <div class="col-md-2">
          <a href="#" class="btn btn-outline-light">
            Request demo
          </a>
        </div>
      </div>
    </div>
  </section>


  <section id="Test" class="Py-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="380">
    <div class="container text-center">
      <h1 class="H1 font-weight-bold">Here’s what people think of
        <span class="text-color1">EditionGuard</span>
      </h1>
      <p class="H3">We help real people with real solutions. Here’s what they think about our service:</p>
      <div class=" multiple-items">
        <div class="">
          <div class="d-flex flex-column justify-content-center align-items-center" style=" ">
            <img src="./img2/person1.png " class="img-fluid ">
            <p class="H4 font-weight-bold Py-10 p-0 m-0 ">Emile Schenk,
              <span class="text-color1 ">Narayana Books</span>
            </p>
            <img src="./img2/star.png " class="p-0 m-0 Mb-10 ">
            <p class="H4 ">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora eveniet dolorem et laudantium. Suscipit nulla iure
            </p>
          </div>
        </div>

        <div class="">
          <div class="d-flex flex-column justify-content-center align-items-center" style=" ">
            <img src="./img2/person2.png " class="img-fluid ">
            <p class="H4 font-weight-bold Py-10 p-0 m-0 ">Emile Schenk,
              <span class="text-color1 ">abd Books</span>
            </p>
            <img src="./img2/star.png " class="p-0 m-0 Mb-10 ">
            <p class="H4 ">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora eveniet dolorem et laudantium. Suscipit nulla iure
            </p>
          </div>
        </div>

        <div class="">
          <div class="d-flex flex-column justify-content-center align-items-center" style=" ">
            <img src="./img2/person3.png " class="img-fluid ">
            <p class="H4 font-weight-bold Py-10 p-0 m-0 ">emad Schenk,
              <span class="text-color1 ">Narayana Books</span>
            </p>
            <img src="./img2/star.png " class="p-0 m-0 Mb-10 ">
            <p class="H4 ">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora eveniet dolorem et laudantium. Suscipit nulla iure
            </p>
          </div>
        </div>

        <div class="">
          <div class="d-flex flex-column justify-content-center align-items-center" style=" ">
            <img src="./img2/person1.png " class="img-fluid ">
            <p class="H4 font-weight-bold Py-10 p-0 m-0 ">Emile Schenk,
              <span class="text-color1 ">Narayana Books</span>
            </p>
            <img src="./img2/star.png " class="p-0 m-0 Mb-10 ">
            <p class="H4 ">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora eveniet dolorem et laudantium. Suscipit nulla iure
            </p>
          </div>
        </div>
        <div class="">
          <div class="d-flex flex-column justify-content-center align-items-center" style=" ">
            <img src="./img2/person1.png " class="img-fluid ">
            <p class="H4 font-weight-bold Py-10 p-0 m-0 ">Emile Schenk,
              <span class="text-color1 ">Narayana Books</span>
            </p>
            <img src="./img2/star.png " class="p-0 m-0 Mb-10 ">
            <p class="H4 ">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora eveniet dolorem et laudantium. Suscipit nulla iure
            </p>
          </div>
        </div>
        <div class="">
          <div class="d-flex flex-column justify-content-center align-items-center" style=" ">
            <img src="./img2/person1.png " class="img-fluid ">
            <p class="H4 font-weight-bold Py-10 p-0 m-0 ">Emile Schenk,
              <span class="text-color1 ">Narayana Books</span>
            </p>
            <img src="./img2/star.png " class="p-0 m-0 Mb-10 ">
            <p class="H4 ">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora eveniet dolorem et laudantium. Suscipit nulla iure
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="followers" class="container My-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="380">
    <div class=" container Py-40 Px-40">
      <div class="row">
        <div class="col-md-4">
          <h1 class="H1 text-color1 font-weight-bold d-inline-block p-0 m-0">650,000</h1>
          <span class="H4 d-inline-block font-weight-bold"> eBooks sold by our customers</span>
        </div>
        <div class="col-md-1 Mt-10 d-none d-md-block">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="3px" height="68px">
            <path fill-rule="evenodd" fill="rgb(237, 237, 237)" d="M2.000,68.000 L2.000,-0.000 L3.000,-0.000 L3.000,68.000 L2.000,68.000 ZM-0.000,-0.000 L1.000,-0.000 L1.000,68.000 L-0.000,68.000 L-0.000,-0.000 Z"
            />
          </svg>
        </div>
        <div class="col-md-7">
          <h1 class="H4 paragraph-height text-muted">EditionGuard is built on the idea that selling eBooks securely online should be both easy and affordable. We exist
            to help authors and businesses sell more eBooks and retain more of their profit in the process..</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="Education" class="wow fadeIn" data-wow-duration="1s" data-wow-offset="430">
    <div class="container">
      <div class="row">
        <div class="col-md-6 Mb-20">
          <div class="card Py-20">
            <div class="card-body pt-0 mt-0">
              <h1 class="H3 text-color1 font-weight-bold My-10 B">EditionGuard Direct Fulfillment</h1>
              <blockquote class="H4 paragraph-height Py-10">
                <p>With our EditionLink fulfillment option, your eBooks will be accessible directly through a download link
                  that
                </p>
                <p> will expire based on your preferences. EditionMark, our other direct fulfillment option, has the same features
                  along with the addition of a watermark containing the personal information of the purchaser inside your
                  eBooks. These</p>
                <p> options are easy for you and even easier for your customers, as your eBooks will be directly accessible in
                  their raw forms.</p>
              </blockquote>

              <a href="#" class="btn btn-danger">
                start your free 30 day trial
              </a>
            </div>
            <svg class="img-fluid svg2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="592px" height="7px">
              <path fill-rule="evenodd" fill="rgb(255, 150, 0)" d="M-0.000,-0.000 L592.000,-0.000 L592.000,7.000 L-0.000,7.000 L-0.000,-0.000 Z"
              />
            </svg>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card Py-20">
            <div class="card-body pt-0 mt-0">
              <h1 class="H3 text-color1 font-weight-bold My-10 A">Industry Standard Adobe DRM Protection</h1>
              <blockquote class="H4 paragraph-height Py-10">
                <p>With our EditionLink fulfillment option, your eBooks will be accessible directly through a download link
                  that
                </p>
                <p> will expire based on your preferences. EditionMark, our other direct fulfillment option, has the same features
                  along with the addition of a watermark containing the personal information of the purchaser inside your
                  eBooks. These</p>
                <p> options are easy for you and even easier for your customers, as your eBooks will be directly accessible in
                  their raw forms.</p>
              </blockquote>

              <a href="#" class="btn btn-danger">
                start your free 30 day trial
              </a>
            </div>
            <svg class="img-fluid svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="592px" height="7px">
              <path fill-rule="evenodd" fill="rgb(15, 136, 221)" d="M-0.000,-0.000 L592.000,-0.000 L592.000,7.000 L-0.000,7.000 L-0.000,-0.000 Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer id="footer" class="text-white Mt-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="280">
    <svg class="img-fluid svg3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1600px"
      height="4px">
      <path fill-rule="evenodd" fill="rgb(221, 15, 15)" d="M0.000,-0.000 L1600.000,-0.000 L1600.000,4.000 L0.000,4.000 L0.000,-0.000 Z"
      />
    </svg>
    <div class="container Py-40">
      <div class="row">
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold Pb-20">
              <a>support</a>
            </li>
            <li class="  Pb-20">
              <a href="#" class="LF hvr-grow">Base</a>
            </li>
            <li class="Pb-20">
              <a href="#" class="LF hvr-grow"> FAQ</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> API Docs</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> Terms of Use</a>
            </li>
            <li>
              <a href="#" class="LF hvr-grow"> Press Kit</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold Pb-20">
              <a>about</a>
            </li>
            <li class="  Pb-20">
              <a href="#" class="LF hvr-grow">Pricing</a>
            </li>
            <li class="Pb-20">
              <a href="#" class="LF hvr-grow"> Customers</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> Company</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> Careers</a>
            </li>
            <li>
              <a href="#" class="LF hvr-grow"> Blog</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold Pb-20">
              <a>integration</a>
            </li>
            <li class="  Pb-20">
              <a href="#" class="LF hvr-grow">Shopify</a>
            </li>
            <li class="Pb-20">
              <a href="#" class="LF hvr-grow"> Magento</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> PayPal</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> Wordpress</a>
            </li>
            <li>
              <a href="#" class="LF hvr-grow"> Zapier</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold Pb-20">
              <a>contact us</a>
            </li>
            <li class="  Pb-20">
              <a href="#" class="LF hvr-grow">Kodelite LLC</a>
            </li>
            <li class="Pb-20">
              <a href="#" class="LF hvr-grow"> d.b.a EditionGuard</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow">1000 North West Street</a>
            </li>
            <li class="LF Pb-20">
              <a href="#" class="LF hvr-grow"> Wilmington, DE 19801</a>
            </li>
          </ul>

          <div class="d-flex justify-content-around align-items-center">
            <a href="#" class="hvr-grow">
              <img src="./img2/Forma 1-1.png" alt="">
            </a>

            <a href="#" class="hvr-grow">
              <img src="./img2/Forma 1-2.png" alt="">
            </a>

            <a href="#" class="hvr-grow">
              <img src="./img2/Forma 1-3.png" alt="">
            </a>

            <a href="#" class="hvr-grow">
              <img src="./img2/Forma 1.png" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold Pb-20">
              <a>subscribe to our newsletter</a>
            </li>
            <li>
              <p class="LF Pb-20 text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, alias?</p>
            </li>
            <li>
              <input type="text" class="form-control Mb-20" placeholder="Enter email address">
            </li>

            <li>
              <a href="#" class="btn btn-danger">
                submit
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </footer>


  <section id="end" class=" Py-10">
    <div class="container text-left">
      <div class="col">
        <h1 class="H4 p-0 m-0">
          <span class=" text-white font-weight-bold">Abdulfattah khudari</span>
        </h1>
      </div>
    </div>
  </section>



  <script src=" https://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin=" anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js "></script>




  <script>
    $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      dots: true,
      autoplay: true
    });
  </script>


  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-navbar' });

    // Smooth Scrolling
    $("#main-navbar a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script src="css2/WOW-master/dist/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>