<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

  <link rel="stylesheet" href="css3/hover.css">
  <link rel="stylesheet" href="css3/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="stylesheet" href="css3/style.css">
  <title>project 4</title>
</head>


<body data-spy="scroll" data-target="#main-navbar" id="home">

  <section id="header" class="Py-20 text-white wow fadeIn" data-wow-duration="2s" data-wow-offset="0">
    <div class="container">
      <div class="row ">
        <div class="col-md-3 d-flex order-3">
          <div class="align-self-center ">
            <img src="./img3/email.png" class="float-left mr-2" width="30">
          </div>
          <div class="">
            <span class="H4 ">Email address</span>
            <h6 class="H4 font-weight-bold">info@SmartTraining.com</h6>
          </div>
        </div>

        <div class="col-md-3 d-flex order-2">
          <div class="align-self-center">
            <img src="./img3/phone.png" class="float-left mr-2" width="30">
          </div>
          <div class="">
            <span class="H4 ">our phone number</span>
            <h6 class="H4 font-weight-bold">469 342 8300
            </h6>
          </div>
        </div>

        <div class="col-md-3 d-flex order-1">
          <div class="align-self-center">
            <img src="./img3/clock.png" class="float-left mr-2" width="30">
          </div>
          <div class="">
            <span class="H4 ">Our schadual</span>
            <h6 class="H4 font-weight-bold">8:00 am - 5:00pm cst</h6>
          </div>
        </div>

        <div class="col-md-3 d-flex align-items-center justify-content-center order-4">
          <a href="#" class="Mr-10 hvr-grow">
            <img src="./img3/facebook-logo-in-circular-button-outlined-social-symbol.png">
          </a>
          <a href="#" class="Mr-10 hvr-grow">
            <img src="./img3/google-plus-circular-button.png" alt="">
          </a>
          <a href="#" class="Mr-10 hvr-grow">
            <img src="./img3/twitter-circular-button.png" alt="">
          </a>
          <a href="#" class="hvr-grow">
            <img src="./img3/linkedin.png" alt="">
          </a>
        </div>

      </div>
    </div>
  </section>


  <section id="hero" class="wow fadeIn" data-wow-duration="2s" data-wow-offset="0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light" id="main-navbar">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="./img3/logo.png">
        </a>

        <a href="#" class="navbar-toggler" data-target="#nav-menu" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="navbar-collapse collapse " id="nav-menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#MS" class="nav-link hvr-forward">
                About us
              </a>
            </li>

            <li class="nav-item">
              <a href="#LMS" class="nav-link hvr-forward">
                our learning solution
              </a>
            </li>

            <li class="nav-item">
              <a href="#dental" class="nav-link hvr-forward">
                dental
              </a>
            </li>

            <li class="nav-item">
              <a href="#footer" class="nav-link hvr-forward">
                contact
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container">
      <div class="text-center My-40 text-white">
        <h1 class="hero_text">Finally a Smart way To learn</h1>
        <p class="hero_text1 d-none d-md-block">​A Smart Training subscription is the competitive edge your office has been looking for, and the cost won’t bust
          the practice budget. In fact, a monthly team member subscription costs less than a trip to Starbucks.</p>
        <a href="#">
          <button class="btn btn-danger btn-font">start traning </button>
        </a>
      </div>
    </div>
  </section>


  <section id="MS" class="wow fadeIn" data-wow-duration="1s" data-wow-offset="300">
    <div class="text-center">
      <div class="row">
        <div class="col-md-4">
          <img src="./img3/leftImage.png" alt="" class="img-fluid" height="100">
        </div>
        <div class="col-md-8 Py-20">
          <h1 class="H2 font-weight-bold">
            smart traning
          </h1>

          <blockquote class="text-muted">
            <p> probably already know that Smart Training takes training technology to the cutting edge. Now we’re taking our
              delivery process a step further with our new subscription program. Subscribing offices get all our industry-specific
              OSHA
            </p>
            <p>
              and compliance training modules. Additionally, sub- scribing offices enjoy access to unique subscriber-only programs like
              the new Patient Privacy Omnibus and monthly safety meetings. ​A Smart Training subscription is the competitive
            </p>
            <p>
              edge your office has been looking for, and the cost won’t bust the practice budget. In fact, a monthly team member subscription
              costs less than a trip to Starbucks. Move your team to a Smart Training subscription today. We’ll update you
              on subscribers-only content and help you get the most from the Smart Training experience.
            </p>
          </blockquote>
          <a href="#">
            <button class="btn btn-danger btn-font  ">start traning </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="LMS" class="My-40 Py-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="320">
    <div class="container">
      <h1 class="H2 font-weight-bold  text-center">Our learning Manamement System</h1>
      <p class="H3  text-center">Smart Training offerings aren’t limited to off-the-shelf products</p>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 Mb-10">
          <div class="card base hvr-grow">
            <img src="./img3/photo2.png" alt="" class="img-fluid card-img-top">
            <div class="card-body pb-0 mb-0">
              <a href="#">
                <h1 class="H4 font-weight-bold">Administrator Interface</h1>
              </a>
              <p class="H4 text-muted text-justify">When you purchase a Smart Training license, you become the training administrator sdf sdffor your team members.
                Once you’ve registered your employees in our system, you can track their training progress,
                <a href="#">
                  <span class="text-color1">READ MORE</span>
                </a>
                .</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3  Mb-10">
          <div class="card base hvr-grow">
            <img src="./img3/photo3.png" alt="" class="img-fluid card-img-top">
            <div class="card-body pb-0 mb-0">
              <a href="#">
                <h1 class="H4 font-weight-bold">Traning Content</h1>
              </a>
              <p class="H4 text-muted text-justify">When you purchase a Smart Training license, you become the training administrator sdf sdffor your team members.
                Once you’ve registered your employees in our system, you can track their training progress,
                <a href="#">
                  <span class="text-color1">READ MORE</span>
                </a>
                .</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3  Mb-10">
          <div class="card base hvr-grow">
            <img src="./img3/photo1.png" alt="" class="img-fluid card-img-top">
            <div class="card-body pb-0 mb-0">
              <a href="#">
                <h1 class="H4 font-weight-bold">Customer traning </h1>
              </a>
              <p class="H4 text-muted text-justify">When you purchase a Smart Training license, you become the training administrator sdf sdffor your team members.
                Once you’ve registered your employees in our system, you can track their training progress,
                <a href="#">
                  <span class="text-color1">READ MORE</span>
                </a>
                .</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3  Mb-10">
          <div class="card base hvr-grow">
            <img src="./img3/photo1.png" alt="" class="img-fluid card-img-top">
            <div class="card-body pb-0 mb-0">
              <a href="#">
                <h1 class="H4 font-weight-bold"> Administrator Interface</h1>
              </a>
              <p class="H4 text-muted text-justify">When you purchase a Smart Training license, you become the training administrator sdf sdffor your team members.
                Once you’ve registered your employees in our system, you can track their training progress,
                <a href="#">
                  <span class="text-color1">READ MORE</span>
                </a>
                .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="dental" class=" wow fadeIn" data-wow-duration="1s" data-wow-offset="340">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div class="Mr-20 Mb-20">
              <div class="circle">
                <img src="./img3/photo1.png" alt="" class="img-fluid float-left">
              </div>
            </div>
            <div>
              <h1 class="H3 font-weight-bold">dental subscription</h1>
              <p class="text-muted">A Smart Training subscription is the competitive edge your office needs to move to the forefront in your market.</p>
              <a href="#">
                <button class="btn btn-danger btn-font  ">start traning </button>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div class="Mr-20 Mb-20">
              <div class="circle">
                <img src="./img3/sub2.png" alt="" class="img-fluid float-left">
              </div>
            </div>
            <div>
              <h1 class="H3 font-weight-bold">dental subscription</h1>
              <p class="text-muted">A Smart Training subscription is the competitive edge your office needs to move to the forefront in your market.</p>
              <a href="#">
                <button class="btn btn-danger btn-font ">start traning </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="end" class="Py-10 Mt-20">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="./img3/logo.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="Py-20 text-white wow fadeIn" data-wow-duration="1s" data-wow-offset="300">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li class="nav-link Title">
              INDUSTRIES
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Dental
              </a>
            </li>

            <li>
              <a href="#" class="nav-link  text-muted hvr-grow">
                Healthcare
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Construction
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Manufacturing
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Oil & Gas Services
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li class="nav-link Title1">
              Company
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                About
              </a>
            </li>

            <li>
              <a href="#" class="nav-link  text-muted hvr-grow">
                Our LMS
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Support
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Contact
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-muted hvr-grow">
                Lorem, ipsum.
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="list-unstyled">
            <li class="nav-link Title2">
              NEWSLETTER
            </li>
            <li>
              <a href="#" class="nav-link text-muted ">
                Sign up for our monthly newsletter to stay current on all your
              </a>
            </li>

            <li>
              <a href="#" class="nav-link  text-muted ">
                <span class="text-danger">*</span> Indicates required field
              </a>
            </li>
            <li class="ml-3">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control w-75" placeholder="enter your name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control w-75" placeholder="enter your email">
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section id="LAST" class="text-center text-white Py-10">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="H4 mb-0 pb-0">
            created by
            <span class="text-color1">Abdulfattah khudari</span>
          </h1>
        </div>
      </div>
    </div>
  </section>


  <script src=" https://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin=" anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js "></script>




  <script>
    $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      dots: true,
      autoplay: true
    });
  </script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-navbar' });

    // Smooth Scrolling
    $("#main-navbar a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;

        });
      }
    });
  </script>
  <script src="css3/WOW-master/dist/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>