<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

  <link rel="stylesheet" href="css4/hover.css">

  <link rel="stylesheet" href="css4/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="stylesheet" href="css4/style.css">
  <title>Bootstrap Theme</title>
</head>


<body data-spy="scroll" data-target="#main-navbar" id="home">

  <section id="hero" class="wow fadeIn" data-wow-duration="1.5s" data-wow-offset="0">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark " id="main-navbar">
        <div class="navbar-brand">
          <img src="./img4/logo.png" alt="">
        </div>

        <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#nav-menu">
          <span class="navbar-toggler-icon"></span>
        </a>

        <div class="navbar-collapse collapse" id="nav-menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#home" class="nav-link">
                Home
              </a>
            </li>

            <li class="nav-item">
              <a href="#ourServices" class="nav-link">
                Services
              </a>
            </li>
            <li class="nav-item">
              <a href="#works" class="nav-link">
                Our Work
              </a>
            </li>
            <li class="nav-item">
              <a href="#team" class="nav-link">
                Team
              </a>
            </li>
            <li class="nav-item">
              <a href="#footer" class="nav-link">
                Contact
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-search"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="text-white text-center Hero">
        <div class="container">
          <h1 class="H1 font-weight-bold">Welcome to
            <span class="text-color1">my website</span>
          </h1>
          <p class="H4 font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            Lorem ips Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ipsam!um dolor sit. aliqua
          </p>
          <a href="#" class="btn btn-outline-light">
            take a tour
          </a>
          <a href="#" class="btn btn-danger">
            Get started
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="ourServices" class="Py-40 wow fadeIn" data-wow-duration="1.5s" data-wow-offset="280">
    <div class="container text-center">
      <h1 class="H2 font-weight-bold">our services</h1>
      <p class="H4 text-muted">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem,
        ipsuml Lorem, ipsum dolor. </p>
      <div class="row Mt-40">
        <div class="col-sm-6 col-md-4">
          <img src="./img4/our1.png" alt="" class="Pb-10">
          <h1 class="H3 font-weight-bold">web design</h1>
          <p class="H4 text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ex dolore voluptatibus sequi! Explicabo quaerat, nemo sed eaque
            repellendus eius voluptatum voluptate in voluptas velit!
          </p>
        </div>

        <div class="col-sm-6 col-md-4">
          <img src="./img4/our2.png" alt="" class="Pb-10">
          <h1 class="H3 font-weight-bold">web design</h1>
          <p class="H4 text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ex dolore voluptatibus sequi! Explicabo quaerat, nemo sed eaque
            repellendus eius voluptatum voluptate in voluptas velit!
          </p>
        </div>

        <div class="col-sm-6 col-md-4">
          <img src="./img4/our3.png" alt="" class="Pb-10">
          <h1 class="H3 font-weight-bold">web design</h1>
          <p class="H4 text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ex dolore voluptatibus sequi! Explicabo quaerat, nemo sed eaque
            repellendus eius voluptatum voluptate in voluptas velit!
          </p>
        </div>
      </div>
    </div>
  </section>


  <section id="works" class="Py-40 wow fadeIn" data-wow-duration="1.5s" data-wow-offset="300">
    <div class="container text-center text-white">
      <h1 class="H2 font-weight-bold text-white">our works</h1>
      <p class="H4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem,
        ipsuml Lorem, ipsum dolor. </p>

      <div class="single-item">
        <div class="Base">
          <img src="./img4/work1.png" alt="">
        </div>
        <div class="Base">
          <img src="./img4/work2.png" alt="">
        </div>
        <div class="Base">
          <img src="./img4/work4.png" alt="">
        </div>

        <div class="Base">
          <img src="./img4/work1.png" alt="">
        </div>
        <div class="Base">
          <img src="./img4/work1.png" alt="">
        </div>
        <div class="Base">
          <img src="./img4/work1.png" alt="">
        </div>
      </div>
    </div>
  </section>


  <section id="team" class="Py-40 wow fadeIn" data-wow-duration="1.5s" data-wow-offset="320">
    <div class="container text-center text-white">
      <h1 class="H2 font-weight-bold text-white">our team</h1>
      <p class="H4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem,
        ipsuml Lorem, ipsum dolor. </p>

      <div class="row Mt-20">
        <div class="col-md-3 d-flex flex-column align-items-center">
          <div class="circle">
            <div class="div">
              <a href="#">
                <img src="./img4/team1.png" alt="">
              </a>
            </div>
          </div>
          <div>
            <h1 class="H3 font-weight-bold Mt-10">Abdulfattah khudari</h1>
          </div>
        </div>

        <div class="col-md-3 d-flex flex-column align-items-center">
          <div class="circle">
            <div class="div">
              <a href="#">
                <img src="./img4/team2.png" alt="">
              </a>
            </div>
          </div>
          <div>
            <h1 class="H3 font-weight-bold Mt-10">Lara</h1>
          </div>
        </div>

        <div class="col-md-3 d-flex flex-column align-items-center">
          <div class="circle">
            <div class="div">
              <a href="#">
                <img src="./img4/team3.png" alt="">
              </a>
            </div>
          </div>
          <div>
            <h1 class="H3 font-weight-bold Mt-10">Abdulrahman</h1>
          </div>
        </div>

        <div class="col-md-3 d-flex flex-column align-items-center">
          <div class="circle">
            <div class="div">
              <a href="">
                <img src="./img4/team4.png" alt="">
              </a>
            </div>
          </div>
          <div>
            <h1 class="H3 font-weight-bold Mt-10">jasmin</h1>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="footer" class="Py-40 wow fadeIn" data-wow-duration="1.5s" data-wow-offset="310">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled text-uppercace ">
            <li class="footer-title   Mb-10  text-center border-bottom border-danger">
              CONTACT
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Kodelite LLC
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                d.b.a EditionGuard
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                1000 North West Street
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Wilmington, DE 19801
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled text-uppercace">
            <li class="footer-title   Mb-10 text-center border-bottom border-info">
              SUPPORT
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Knowledge Base
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                FAQ
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                API Docs
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Terms of Use
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled text-uppercace">
            <li class="footer-title   Mb-10 text-center border-bottom border-warning">
              ABOUT
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Pricing
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Customers
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Company
              </a>
            </li>
            <li>
              <a href="#" class="footer-link  hvr-grow">
                Blog
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="End" class="Py-10">
    <div class="container text-center text-white">
      <div class="row">
        <div class="col">
          <h1 class="H4 m-0">Created By
            <span class="text-color1 font-weight-bold">Abdulfattah khudari</span>
          </h1>
        </div>
      </div>
    </div>
  </section>

  <script src=" https://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin=" anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js "></script>




  <script>
    $('.single-item').slick({
      slidesToShow: 3,
      slidesToScroll: 3,
      dots: true,
      autoplay: true
    });
  </script>


  <script src="css4/WOW-master/dist/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-navbar' });

    // Smooth Scrolling
    $("#main-navbar a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;

        });
      }
    });
  </script>
</body>

</html>