<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

  <link rel="stylesheet" href="css5/hover.css">
  <link rel="stylesheet" href="css5/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="stylesheet" href="css5/style.css">
  <title>Bootstrap Theme</title>
</head>


<body data-spy="scroll" data-target="#main-navbar" id="home">


  <section id="hero" class="wow fadeIn" data-wow-duration="2s" data-wow-offset="0">
    <nav class="navbar navbar-expand-md navabr-light bg-light sticky-top" id="main-navbar">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="./img5/brand.png" alt="">
        </a>

        <a href="#" class="navbar-toggler" data-target="#nav-menu" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="navbar-collapse collapse" id="nav-menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="#products" class="nav-link">
                products
              </a>
            </li>
            <li class="nav-item">
              <a href="#featured" class="nav-link">
                featured
              </a>
            </li>
            <li class="nav-item">
              <a href="#news" class="nav-link">
                news
              </a>
            </li>
            <li class="nav-item">
              <a href="#choose" class="nav-link">
                choose us
              </a>
            </li>
            <li class="nav-item">
              <a href="#client" class="nav-link">
                testimonail
              </a>
            </li>

            <li class="nav-item">
              <a href="#footer" class="nav-link">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-white My-40 text-center">
      <h1 class="H font-white-bold">Move the Way you Want </h1>
      <p class="H4 Mb-20">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
      </p>
      <a href="#">
        <button class="btn btn-warning">
          shop now
        </button>
      </a>
      <a href="#">
        <button class="btn btn-outline-warning My-10">
          watch vedio
        </button>
      </a>
    </div>
    </div>
  </section>

  <section id="products" class="wow fadeIn" data-wow-duration="2s" data-wow-offset="300">
    <div class="container Py-40 text-center">
      <h1 class="H1 font-white-bold">
        office product
        <span class="text-color1">solutions</span>
      </h1>

      <p class="H4">sericing Top industries</p>

      <div class="row Mt-20">
        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/pro1.png" alt="" class="img-fluid card-img-top">
            <div class="card-body m-0 p-0 Py-10">
              <a href="#">
                <h1 class="H3 font-white-bold p-0 m-0 Py-10 ">
                  work place
                </h1>
              </a>
              <p class="H4 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores harum necessitatibus et aperiam temporibus at
                facere odio ducimus architecto.
                <a href="#" class="text-uppercase text-color1 d-block">
                  read me
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/pro2.png" alt="" class="img-fluid card-img-top">
            <div class="card-body m-0 p-0 Py-10">
              <a href="#">
                <h1 class="H3 font-white-bold p-0 m-0 Py-10 ">
                  work place
                </h1>
              </a>
              <p class="H4 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores harum necessitatibus et aperiam temporibus at
                facere odio ducimus architecto.
                <a href="#" class="text-uppercase text-color1 d-block">
                  read me
                </a>
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/pro3.png" alt="" class="img-fluid card-img-top">
            <div class="card-body m-0 p-0 Py-10">
              <a href="#">
                <h1 class="H3 font-white-bold p-0 m-0 Py-10 ">
                  work place
                </h1>
              </a>
              <p class="H4 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores harum necessitatibus et aperiam temporibus at
                facere odio ducimus architecto.
                <a href="#" class="text-uppercase text-color1 d-block">
                  read me
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/pro1.png" alt="" class="img-fluid card-img-top">
            <div class="card-body m-0 p-0 Py-10">
              <a href="#">
                <h1 class="H3 font-white-bold p-0 m-0 Py-10 ">
                  work place
                </h1>
              </a>
              <p class="H4 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores harum necessitatibus et aperiam temporibus at
                facere odio ducimus architecto.
                <a href="#" class="text-uppercase text-color1 d-block">
                  read me
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/pro2.png" alt="" class="img-fluid card-img-top">
            <div class="card-body m-0 p-0 Py-10">
              <a href="#">
                <h1 class="H3 font-white-bold p-0 m-0 Py-10 ">
                  work place
                </h1>
              </a>
              <p class="H4 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores harum necessitatibus et aperiam temporibus at
                facere odio ducimus architecto.
                <a href="#" class="text-uppercase text-color1 d-block">
                  read me
                </a>
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/pro3.png" alt="" class="img-fluid card-img-top">
            <div class="card-body m-0 p-0 Py-10">
              <a href="#">
                <h1 class="H3 font-white-bold p-0 m-0 Py-10 ">
                  work place
                </h1>
              </a>
              <p class="H4 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores harum necessitatibus et aperiam temporibus at
                facere odio ducimus architecto.
                <a href="#" class="text-uppercase text-color1 d-block">
                  read me
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="featured" class="wow fadeIn" data-wow-duration="2s" data-wow-offset="340">
    <div class="container Py-40 text-center">
      <h1 class="H1 font-white-bold">
        featured
        <span class="text-color1">product</span>
      </h1>

      <p class="H4">help for modern and productive work environment</p>

      <div class="row Mt-20">
        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/feature1.png" alt="" class="img-fluid card-img-top">
          </div>
          <div class="card-img-overlay My-40 text-white">
            <h1 class="H3"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</h1>
            <a href="#" class="btn btn-warning text-white">shop now</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base hvr-grow">
            <img src="./img5/feature2.png" alt="" class="img-fluid card-img-top">
          </div>
        </div>


        <div class="col-md-6 col-lg-4 Pb-10">
          <div class="card base">
            <img src="./img5/feature3.png" alt="" class="img-fluid card-img-top">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="news" class="wow fadeIn" data-wow-duration="2s" data-wow-offset="360">
    <div class="container">
      <h1 class="H1 font-white-bold text-center">
        OASIS: NEWS
        <span class="text-color1 text-center">NEWS</span>
      </h1>

      <p class="H4 text-center">help for modern and productive work environment</p>
      <div class="row">
        <div class="col-md-4 Mb-10">
          <div class="card base hvr-grow">
            <img src="./img5/news1.png" alt="" class="img-fluid  rounded-top">
            <div class="card-body Py-10">
              <h1 class="H3 p-0 m-0 Pb-10 font-weight-bold">jun 24,2017</h1>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima a doloremque dolore deserunt unde provident,
                architecto corrupti consequuntur explicabo quidem!</p>
              <a href="#">
                <h1 class="H4 text-color1 p-0 m-0 Pb-10 text-center">LEARN MORE</h1>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 Mb-10">
          <div class="card base hvr-grow">
            <img src="./img5/news1.png" alt="" class="img-fluid  rounded-top">
            <div class="card-body Py-10">
              <h1 class="H3 p-0 m-0 Pb-10 font-weight-bold">jun 24,2017</h1>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima a doloremque dolore deserunt unde provident,
                architecto corrupti consequuntur explicabo quidem!</p>
              <a href="#">
                <h1 class="H4 text-color1 p-0 m-0 Pb-10 text-center">LEARN MORE</h1>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 Mb-10">
          <div class="card base hvr-grow">
            <img src="./img5/news1.png" alt="" class="img-fluid  rounded-top">
            <div class="card-body Py-10">
              <h1 class="H3 p-0 m-0 Pb-10 font-weight-bold">jun 24,2017</h1>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima a doloremque dolore deserunt unde provident,
                architecto corrupti consequuntur explicabo quidem!</p>
              <a href="#">
                <h1 class="H4 text-color1 p-0 m-0 Pb-10 text-center">LEARN MORE</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="choose" class="Py-40 My-40 wow fadeIn" data-wow-duration="2s" data-wow-offset=" ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <h1 class="H2 font-weight-bold">
            <span class="text-color1 font-weight-bold">why</span> choose us ?
          </h1>
          <p class="H4 text-muted">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
            ipsa quae ab illo ntium, totam rem aperiam, eaque ipsa quae ab illo inventore
          </p>
        </div>
        <div class="col-md-4">
          <div class="card p-0 m-0 Mb-10 ">
            <div class="card-body p-0 m-0 Py-10 Px-10 d-flex align-items-center text-center">
              <div class="">
                <img src="./img5/icon1.png " alt="">
              </div>
              <div>
                <p class="p-0 m-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas, nisi unde tenetur quisquam pariatur..</p>
              </div>
            </div>
          </div>

          <div class="card p-0 m-0 Mb-10">
            <div class="card-body p-0 m-0 Py-10 Px-10 d-flex align-items-center text-center base">
              <div class="">
                <img src="./img5/icon2.png" alt="">
              </div>
              <div>
                <p class="p-0 m-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas, nisi unde tenetur quisquam pariatur..</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-0 m-0 Mb-10">
            <div class="card-body p-0 m-0 Py-10 Px-10 d-flex align-items-center text-center base">
              <div class="">
                <img src="./img5/icon3.png" alt="">
              </div>
              <div>
                <p class="p-0 m-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas, nisi unde tenetur quisquam pariatur..</p>
              </div>
            </div>
          </div>

          <div class="card p-0 m-0 Mb-10">
            <div class="card-body p-0 m-0 Py-10 Px-10 d-flex align-items-center text-center base">
              <div class="">
                <img src="./img5/icon4.png" alt="">
              </div>
              <div>
                <p class="p-0 m-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas, nisi unde tenetur quisquam pariatur..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="client" class="wow fadeIn" data-wow-duration="2s" data-wow-offset="380">
    <div class="container text-white Py-40">
      <h1 class="H1 font-white-bold ">what our
        <span class="text-color1">clients</span> say</h1>
      <div class="row Mt-40 justify-content-center">
        <div class="col-md-8">
          <section id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item">
                <div class="card">
                  <div class="card-body">
                    <h1 class="font-weight-bold H2">awesome products!</h1>
                    <p class=" text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, labore tempore, possimus reprehenderit
                      harum saepe vero distinctio consectetur alias aliquid consequatur aperiam fuga aliquam animi. Accusantium
                      suscipit facilis ad cum.</p>

                    <div class="d-flex align-items-center">
                      <div>
                        <img src="./img5/38542186_917116691824429_8670165139435028480_o.png" alt="" class="img-fluid ">
                      </div>
                      <div class="Ml-10">
                        <h1 class="H3 font-weight-bold ">Abdulnasier</h1>
                        <img src="./img5/star.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item active">
                <div class="card">
                  <div class="card-body">
                    <h1 class="font-weight-bold H2">awesome products!</h1>
                    <p class=" text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, labore tempore, possimus reprehenderit
                      harum saepe vero distinctio consectetur alias aliquid consequatur aperiam fuga aliquam animi. Accusantium
                      suscipit facilis ad cum.</p>

                    <div class="d-flex align-items-center">
                      <div>
                        <img src="./img5/38542186_917116691824429_8670165139435028480_o.png" alt="" class="img-fluid ">
                      </div>
                      <div class="Ml-10">
                        <h1 class="H3 font-weight-bold ">Abdulnasier</h1>
                        <img src="./img5/star.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="card-body">
                    <h1 class="font-weight-bold H2">awesome products!</h1>
                    <p class=" text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, labore tempore, possimus reprehenderit
                      harum saepe vero distinctio consectetur alias aliquid consequatur aperiam fuga aliquam animi. Accusantium
                      suscipit facilis ad cum.</p>

                    <div class="d-flex align-items-center">
                      <div>
                        <img src="./img5/38542186_917116691824429_8670165139435028480_o.png" alt="" class="img-fluid ">
                      </div>
                      <div class="Ml-10">
                        <h1 class="H3 font-weight-bold ">Abdulnasier</h1>
                        <img src="./img5/star.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section id="footer" class="Py-20 wow fadeIn" data-wow-duration="2s" data-wow-offset="300">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled text-uppercace ">
            <li class="footer-title   Mb-10  text-center">
              CONTACT
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Kodelite LLC
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                d.b.a EditionGuard
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                1000 North West Street
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Wilmington, DE 19801
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled text-uppercace">
            <li class="footer-title   Mb-10 text-center">
              SUPPORT
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Knowledge Base
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                FAQ
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                API Docs
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Terms of Use
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled text-uppercace">
            <li class="footer-title   Mb-10 text-center">
              ABOUT
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Pricing
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Customers
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Company
              </a>
            </li>
            <li>
              <a href="#" class="footer-link hvr-grow">
                Blog
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="End" class="Py-10">
    <div class="container text-center text-white">
      <div class="row">
        <div class="col">
          <h1 class="H4 m-0">Created By
            <span class="text-color1 font-weight-bold">Abdulfattah khudari</span>
          </h1>
        </div>
      </div>
    </div>
  </section>



  <script src=" https://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin=" anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js "></script>




  <script>
    $('.single-item').slick({
    });
  </script>


  <script src="css5/WOW-master/dist/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-navbar' });

    // Smooth Scrolling
    $("#main-navbar a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;

        });
      }
    });
  </script>
</body>

</html>