.btn {
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.004);
  width: 22rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  @include media(phone) {
    width: 16rem;
    height: 5rem;
  }
  &__primary {
    cursor: pointer;
    background-image: -moz-linear-gradient(
      90deg,
      rgb(178, 132, 81) 0%,
      rgb(234, 197, 152) 100%
    );
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(178, 132, 81) 0%,
      rgb(234, 197, 152) 100%
    );
    background-image: -ms-linear-gradient(
      90deg,
      rgb(178, 132, 81) 0%,
      rgb(234, 197, 152) 100%
    );
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
  }
  &__primary::after {
    cursor: pointer;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    background-image: -moz-linear-gradient(
      90deg,
      rgb(178, 132, 81) 0%,
      rgb(234, 197, 152) 100%
    );
    background-image: -webkit-linear-gradient(
      90deg,
      rgb(178, 132, 81) 0%,
      rgb(234, 197, 152) 100%
    );
    background-image: -ms-linear-gradient(
      90deg,
      rgb(178, 132, 81) 0%,
      rgb(234, 197, 152) 100%
    );
    color: white;
    transition: all 0.2s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    border-radius: 25px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.004);
    width: 22rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    @include media(phone) {
      width: 16rem;
      height: 5rem;
    }
  }

  .btn__text {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
    font-size: $font-size-3;
  }

  &__secondary {
    cursor: pointer;
    //border: 2px solid $color-white-2;
    border-radius: 2rem;
    color: $color-white-1;
    font-size: $font-size-3;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid currentColor;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background-color: $color-white-1;
      color: $color-black-1;
      border: 2px solid $color-black-1;
    }
  }

  &__secondary::after {
  }

  &__arrow {
    margin-left: 0.5rem;
    @include media(phone) {
      width: 2.3rem;
      height: 1.3rem;
    }
  }
}

.btn__tertiary {
  cursor: pointer;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.004);
  width: 20rem;
  height: 5rem;
  border: 2px solid currentColor;
  background-color: rgba($color-primary, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size-3;
  text-decoration: none;
  color: $color-primary-light;
  transform: scale(0) rotate(360deg);
  transition: all 0.3s;

  &:hover {
    color: $color-white-1;
    background-color: rgba($color-primary, 1);
  }
}

.btn__forth {
  cursor: pointer;
  padding: 0.2rem 1.5rem;
  z-index: 10000;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.004);
  width: 10rem;
  height: 5rem;
  border: 2px solid currentColor;
  background-color: rgba($color-primary, 1);
  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size-3;
  text-decoration: none;
  color: $color-primary-light;
  transform: scale(0) rotate(360deg);
  transition: all 0.3s;
  margin-right: 1rem;

  &:hover {
    cursor: pointer;
    color: $color-white-1;
    background-color: rgba($color-primary, 1);
  }
}

#click {
  display: none;
}

.btn:hover::after {
  cursor: pointer;
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.5);
}

.btn__primary:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn__primary:active {
  cursor: pointer;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.btn__primary:hover + .btn__arrow {
  transform: translateX(1rem);
}
