//color variables 
$color-primary:#b28451;
$color-primary-light:#c69963;

$color-primary-2:#4e78a0;


$color-secondary-light-1:#f2f2f2;
$color-secondary-dark-1:#626262;
$color-secondary-dark-2:#777777;

$color-footer-1:#252934;
$color-footer-2:#1e242c;

$color-black-1:#333;

$color-white-1:#fff;
$color-white-2:rgb(245, 245, 245);
//fonts

$font-family:'Raleway', sans-serif;


$font-size-meduim:2.8rem;
$font-size-3:1.5rem;
$font-size-2-3:2rem;
$font-size-2:2.5rem;
$font-size-1:4rem;
$font-size-0:4.5rem;


// boxshadows

$text-shadow-1:0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
$text-shadow-2:0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
$box-shadow-3:0px 1px 6px 0px rgba(0, 0, 0, 0.004);


//margin


$margin-bottom-very-small:1rem;
$margin-bottom-small:2rem;
$margin-bottom-meduim:3rem;
$margin-bottom-big:4rem;
$margin-bottom-very-big:8rem;


//padding
$padding-bottom-very-small:1rem;
$padding-bottom-small:2rem;
$padding-bottom-meduim:3rem;
$padding-bottom-big:4rem;
$padding-bottom-very-big:8rem;
